@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  
  --main-hue: 250;
  --second-hue: 244;
  
  --main-color: hsl(var(--main-hue), 100%, 72%);
  --second-color: hsl(var(--second-hue), 28%, 23%);
  
  --common-text-color: hsl(0, 0%, 86%);
  --headers-text-color: hsl(0, 0%, 100%);
  
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 18px;
  color: var(--common-text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  color: var(--headers-text-color);
  margin-top: 0 !important;
}

code {
  font-family: monospace;
  font-size: 0.8em;
  color: #ff8051;
  background-color: hsl(var(--second-hue), 29%, 14%);
  display: inline-block;
  padding: .1rem .3rem;
  border-radius: 5px;
}

a {
  color: hsla(250, 99%, 80%, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline solid;
}

blockquote > p {
  border-left: 4px solid var(--main-color);
  padding-left: 1.5rem;
  font-size: 1.2em;
}

blockquote {
  --node-margins: .5rem;
  
  margin-bottom: calc(var(--node-margins) * 5);
  margin-top: calc(var(--node-margins) * 5);
}

dd {
  margin-inline-start: 1rem;
  margin-block-end: 1rem;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

table caption {
  color: hsl(var(--second-hue), 28%, 42%);
  font-size: 0.8em;
}

table {
  --node-margins: .5rem;
  
  margin-top: calc(var(--node-margins) * 5);
  margin-bottom: calc(var(--node-margins) * 5);
}

td,
th {
  padding: 6px;
  text-align: left;
}

thead {
  border-bottom: 1px solid #dbdbdb;
}

tfoot {
  border-top: 1px solid #dbdbdb;
}

tbody tr:nth-child(even) {
  background-color: hsl(var(--second-hue), 28%, 20%);
}

hr {
  border: 1px solid hsl(var(--second-hue), 28%, 31%);
}

pre {
  --node-margins: 0.5rem;
  
  margin-top: calc(var(--node-margins) * 4);
  margin-bottom: calc(var(--node-margins) * 4);
}
